{% extends 'base.html' %}
{% load static %}

{% block title %}shifts list{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock css %}
    

{% block content %}
    
    {% for shift in shifts %}
        <div class="shift-card">
            <h2 class="shift-name">{{ shift.created_by }}</h2>
            <div class="shift-dates">
                <p><strong>Start:</strong> {{ shift.start }}</p>
                <p><strong>End:</strong> {{ shift.end }}</p>
            </div>
        </div>
    {% endfor %}
        
{% endblock content %}
    