<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
    {% block title %}
        Home
    {% endblock title %}
        </title>
        
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock css %}
            
    
</head>
<body>
    {% block content %}
    <h1>this is base </h1>
    {% endblock content %}
    
</body>
</html>